
.news-block {
    color: #1C4480;
}

.sports-block {
    color: #1C4481;
}

.inquiry-block {
    color: #8F181B;
}

.beyond-block {
    color: #D4B835;
}

.features-block {
    color: #009C65;
}

.vantage-block {
    color: #5E61BA;
}

.social-block {
    color: #11294D;
}

.hr-block {
    color: #006944;
}

.externals-block {
    color: #A18C28;
}

.research-block {
    color: #5C0F11;
}

.gd-block {
    columns: #6A91CD;
}

.photos-block {
    color: #E4BB4E;
}

.vd-block {
    color: #DC676A;
}

.dd-block {
    color: #5EBC91;
}