.header {
    width: 100%;

    position: relative;
    color: white;
}

.gallery {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    background-color: black;  
    overflow: hidden;  
    z-index: -1;
}

.gallery img {
    width: 100%;
    opacity: 50%;
}

.header-content {
    height: 100%;
    padding: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-left-content img {
    width: 120px;
}

.header-left-content .title {
    margin: 0px 0px 10px 0px;
}

.header-content iframe {
    margin: 10px;
}

@media (max-width: 1000px) {
    .header-content {
        flex-direction: column;
    }

    .header-content iframe {
        align-self: center;
        width: auto;
        height: auto;
    }
}