main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    font-size: 40px;
    text-align: center;
    margin: 50px;
}

main p {
    color: black;
    font-size: 14px;
}

.staffs {
    margin-inline: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.block {
    padding: 20px;

    display: flex;
    flex-direction: column;

    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1), -1px 3px 5px rgba(0, 0, 0, 0.1);
}

.block h2 {
    font-size: 30px;
    margin: 5px 0px 5px 0px;
}

.line {
    width: 25px;
    height: 2px;
    background-color: currentColor;
    margin-bottom: 8px;
}

.block-content {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block button {
    align-self: end;
    background-color: #f5f5f4;
    border: 0;
    padding: 15px;
    font-weight: bold;
}

.block input {
    display: none;
    align-self: flex-end;
}

.block button:hover {
    cursor: pointer;
}

@media (min-width: 600px) and (max-width: 900px) {
    .staffs {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 599px) {
    .staffs {
        grid-template-columns: 1fr;
        margin-inline: 30px;
    }

    .line {
        display: none;
    }

    .block {
        border-radius: 25px;
    }
    
    .block-content {
        flex-direction: row;
        font-size: 14px;
    }

    .block button {
        display: none;
    }

    .block input {
        display: block;
    }
}